.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
[data-theme='dark'] .site-layout-content {
  background: #141414;
}
.layout_header {
  background: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}
.layout_header .breadcrumb_box {
  margin-left: 20px;
  width: 1100px;
}
.layout_header .logout {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 120px;
}
.layout_header .logout .logout_icon {
  font-size: 25px;
}
.layout_header .logout .logout_font {
  font-size: 20px;
  margin-left: 5px;
}
.admin_box {
  padding-left: 24px;
  height: 88px;
  display: flex;
  align-items: center;
}
.admin_box .admin {
  color: #fff;
  margin-left: 24px;
  text-align: center;
}
.admin_box .admin .admin_name {
  font-weight: bold;
  font-size: 16px;
}
